
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>SV - Items</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js"></script>
	</head>
	<body>
		<header>
		<h1>Stock Inventory</h1>
		<a href="/logout">Log out</a>
    </header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main>
      
      
    	<form action="/sv" enctype="multipart/form-data" method="post">
			<p>
				<label for="item">Item ID: </label><br />
				<input type="number" name="itemID" value="">
			</p>
			<p align="left">
        <input type="submit" value="Submit"/>
      </p>
      <p align="right">
        <input type="submit" value="Next"/>
        <input type="submit" value="Back"/>
      </p>
		</form> 
      
       <a href="/sv/clear">Clear</a>
      
      <div>
        <p>SHOPPING LIST : </p> 
<table>
    {{#each all}}
      <tr>
        <td> {{this.name}}</td>
        <td> {{this.price}}</td>
        <td>{{this.qty}}</td>
       </tr> 
    {{/each}}
</table>  
     <p>Total : {{total}}</p>
      </div>
		</main>
        <a  href="/sv/add">Add Items</a>
    </body>
</html>
