
<!doctype html>

<html lang="en">
	<head>
   
		<meta charset="utf-8">
		<title>SV - Items</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js"></script>
    
    
	</head>
	<body>
		<header> 
		<h1>Stock Inventory</h1>
      
		<a href="/logout">Log out</a>
       <a  href="/sv/itemadd" style="float: right;">Items</a>
         
    </header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main>
      
      
    	<form action="/sv" enctype="multipart/form-data" method="post">
			<p>
				<label for="item">Item ID: </label><br />
				<input type="number" name="itemID" value="">
			</p>
       <p align="left">
        <input type="submit" value="Submit"/>
      </p>
		</form> 
      
       <a href="/sv/clear" style="float: right;">Clear</a>
       <a href="/sv/checkout" style="float: right;">Checkout</a>
      
      <div>
       
        <p>SHOPPING LIST : </p> 
<table>
    {{#each all}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.price}}</td>
        <td>{{this.qty}}</td>
        
       </tr> 
    {{/each}}
</table>  
     <p>Total : &#163;{{total}}</p>
      </div>
      
		</main>
        
       
    </body>
</html>
